
.adjust
{ 
	width:100%;
	height:60%;
	padding:60px;
}
td
{ 
	text-align:center;
	padding:5px;
	width:50%;
}
p
{
	text-align:left;
}
.t
{	
	border:1px solid;
	font-size:4px; 
}
.left
{ 
	font-family: Monospace;
	font-size:20px;
	border:1px;
}
